*{
    padding: 0;
    margin: 0;
}
.homeDesign {
    height:max-content;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* background-color: #DCB58D; */
    
}
/* .homeDesign>div>div>img{
    width: 300px;
    height: 300px;

} */

.home-cocktails{
    width: max-content;
    height: max-content;
    display: flex;
    flex-wrap: wrap;
}

div>img{
    width: 300px;
    height: 100%;
    
}
.cocktail{
    margin: 40px;
    
    height: 360px;
    width: 300px;
}
.cocktail>h1{
    text-align: center;
}
.cocktail-img{
    height: 300px;
}

.cocktail-name{ 
    margin: 0;
    height: 60px;
    width: 100%;
    text-align: center;
    color: white;
    background-color:#4F3B34;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20pxpx;
    font-weight: bold;
}
.cocktail-name:hover{
    cursor: pointer;
    z-index: 2;
    transform: translateY(-60px);
}
.search{
    display: flex;
    height: 100px;
    width: 100vw;
    align-items: center;
    justify-content: center;
    margin: auto;
    
}