




/* body {
  background-color: #161616;
} */
.home-component {
  display: flex;
  flex-direction: column;

}



.home-component {
  display: flex;
  flex-direction: column;

}
.home-screen-div {
  height: 80vh;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: space-evenly;
  background-color: #161616;
  margin-top: 110vh;
  /* padding-top: 75px; */

}